[Unit]
Description=Autogroups declarative group synchronization
After=network-online.target winbind.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart="autogroups sync"
User=root
Group=root

[Install]
WantedBy=multi-user.target
